apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: tunnel-metrics-monitor
  namespace: openshift-user-workload-monitoring
spec:
  endpoints:
    - bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
      interval: 10s
      path: /metrics
      port: metrics
      scheme: https
      tlsConfig:
        insecureSkipVerify: true
  namespaceSelector:
    matchNames:
      - debugging
  selector:
    matchLabels:
      app: ssh-gateway